# =========================
# Dados
# =========================
data/

# =========================
# Databricks
# =========================
tmp/
.databricks/
databricks/
dbfs/
workspaceFilesystem*

# =========================
# Python
# =========================
__pycache__/
*.pyc

# =========================
# Ambiente
# =========================
venv/
.env

# =========================
# Logs
# =========================
*.log